#header-background {
  background-color: pink;
  height: 150px;
}
#header-background h1 {
  color: white;
  font-weight: 900;
  margin-left: 20px;
  font-size: 1sem;
}
.header-list {
  list-style: none;
  color: white;
  display: flex;
  float: right;
  margin-right: 20px;
}
.header-list li {
  text-indent: 30px;
  padding-top: 40px;
}
.header-list li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
.header-list li a:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}

.heading {
  font-size: 55px;
  color: white;
  
}

.container {
  position: relative;
  bottom: -30px;
  border: 2px solid;
  background-color: dimgrey;
}

.btn-info {
  width: 70%;
  background: transparent;
  transition: all 0.5s ease-in-out;
  letter-spacing: 5px;
}

.btn-info:hover {
  transform: scale(1.05);
}

hr {
  background-color: white;
  width: 70%;
  position: relative;
  left: -70px;
}

.list-unstyled li {
  color: white;
  display: inline;
  margin: 20px;
}
.list-unstyled li i {
  font-size: 32px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.list-unstyled li i:hover {
  color: grey;
  transform: scale(1.05);
}
.footer {
  margin-top: 50px;
  background-color: pink;
  height: 150px;
}
.text {
  text-align: center;
  font-size: 1.2em;
  padding-top: 20px;
  color: white;
}
@media screen and (max-width: 992px) {
  img{
    width: 100%;
  }
}