.container{
    margin: auto;
}
img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
body p{
    font-size: 1.8em;
    
}
/*header*/
#main-header{
    padding-top: 20px;
    
}
#main-header h2{
    font-family: 'Tangerine', serif;
    font-size: 200px;
    line-height: 200px;
    
    letter-spacing: 20px;
    text-transform: capitalize;
    text-shadow: 4px 4px 4px darkgrey;
}
#main-header h1{
    text-transform: uppercase;
    color: red;
    
}
#main-header span{
    color: black;
}
#logo span{
    background-color: red;
    border: 1px solid black;
    
    color: white;
}
/*main content*/
#lck-part2 h1{
    border: 2px solid black;
    background-color: black;
    color: white;
}
#lck-part2 span{
    color: rgb(145, 207, 228);
}
#lck-part2 span:hover{
    transform: scale(1.3);
}
#lck-part2 img{
    padding: 7px;
}
/*footer*/
#footer i{
    font-size: 2em;
    letter-spacing: 30px;
    color: black;
    
    
}
#footer i:hover{
    
    transform: scale(1.3);
}