/*Anthing down below is for the index page*/

/*nav bar*/
.header-list {
  list-style: none;
  display: flex;
  float: right;
  font-size: 30px;
  position: relative;
  top: -60px;
}

.header-list li a {
  color: white;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.header-list a:hover {
  color: pink;
}

/*Anything above is decoration of nav bar*/
/*body*/
.title {
  text-decoration: none;
  font-size: 7em;
  color: darkmagenta;
  padding-top: 15px;

  margin-left: 160px;
  transition: transform 250ms;
}
.title:hover {
  transform: scale(1.01);
  color: black;
}

.yuna_text {
  color: darkorange;
  text-align: right;
  font-size: 1.1em;
}
.quote {
  font-family: courier, arial, helvetica;
  font-size: 3.5em;
  color: white;
  position: relative;
  bottom: -10px;
  right: -50px;
}
.introduce-words {
  font-size: 2.5em;

  text-align: center;

  color: hotpink;
}
.quote-kirto {
  color: black;
  font-family: courier, arial, helvetica;
}
.slogan {
  border: 5px solid black;
  width: 95%;
  margin: 0px auto;
  position: relative;
  bottom: -20px;
}
@media only screen and (min-width: 375px) {
  img {
    width: 100%;
  }
  header {
    font-size: 0.8em;
  }
  .text-index-page {
    font-size: 0.7em;
  }
  .quote-kirto {
    font-size: 2em;
  }
  .introduce-words {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1080px) {
  .quote-kirto {
    font-size: 3em;
  }
  .introduce-words {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px) {
  img {
    width: 100%;
  }

  header {
    font-size: 0.8em;
  }

  .text-index-page {
    font-size: 1em;
  }
}

/*Anything above is for the home page*/
/*Below is the contact page */
.socialMedia {
  text-transform: capitalize;
  font-size: 3em;
  color: hotpink;
  position: relative;
  left: -250px;
  top: -150px;
}
/*Above is for contact page*/
/*below is for index page*/

.explnation-for-my-name {
  font-family: American Typewriter, serif;
  color: black;
  font-size: 3em;
  padding: 10px;
  text-align: center;
  animation-name: example;
  animation-duration: 5s;
}
/*above isfor fun fact pgae*/
