/*header*/
#header-background {
  background-color: pink;
  height: 150px;
}
#header-background h1 {
  color: white;
  font-weight: 900;
  margin-left: 20px;
  font-size: 1sem;
}
.header-list {
  list-style: none;
  color: white;
  display: flex;
  float: right;
  margin-right: 20px;
}
.header-list li {
  text-indent: 30px;
  padding-top: 40px;
}
.header-list li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
.header-list li a:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}
.content {
  text-align: center;
}
.picture p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
}
/*footer*/
.footer {
  background-color: pink;
  height: 150px;
}
.text {
  text-align: center;
  font-size: 1.2em;
  padding-top: 20px;
  color: white;
}
@media screen and (max-width: 992px) {
  img{
    width: 100%;
  }
}
