.container{
    margin: 0px auto;
    width: 100%;
}
h1{
    color:black;
    
    font-size: 4em;
    padding-top: 30px;
    font-weight: normal;
}
span{
    
    padding: 0px 80px; 
    font-size: 5em;
    font-weight: bold;
}
p{
    font-size: 2em;
    padding: 0px 65px;
    display: inline;
    text-transform: capitalize;

}
#days{
    padding-left: 40px;
}
body{
    background-image: url(erol-ahmed-d3pTF3r_hwY-unsplash.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
    
}